html,
body {
  padding: 0;
  margin: 0;
  font-family: Manrope, 'Avenir Next', 'Segoe UI', sans-serif;
  color: #0f172a;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
